* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

header {
	background-color: #5e7e67;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000; 
}

header > img {
	height: 80px; 
	width: 80px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
}

.login {
    margin-left: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
}







body {
	background-color: #5e7e67;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

main{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
    border-style: 2px solid;
    border-radius: 20px round;
}

section{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    margin: 20px 10px 20px 10px;
    background-color: #e8ecff;
}

.service {

    width: 90%;
    background-color: #b0eba5;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 20px round;
    box-sizing: border-box;
}

  
  
  .text {
    color: #f2f2f2;
    font-size: 24px;
    padding: 16px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.5); 
  }
  






a {
	text-decoration: none;
}

a:link {
	color: #b0eba5;
}

a:visited {
	color: #0b3414;
}

a:hover {
	color: white;
}





footer {
	background-color: #0b3414;
	font-size: 0.7em;
	text-align: center;
	color: #b0eba5;
	padding: 16px;
	margin-top: 32px;
}

footer a:link {
	color: #fff9e8;
}

footer a:hover {
	color: #e8fff9;
}

