* {
    margin: 10;
    padding: 10;
}

html{
    background-color: white;
}

header{
    background-color: #CFBECE;
    text-align: center;
    height: 100px; 
}

header > h1{
    line-height: 200%;
    padding-top: 16px;
}

h1{
    line-height: 200%;
    background-color: #CFBECE;
}

h2{
    line-height: 200%;
    background-color: #699dca;
}

body {
    background-color: #EFF4F7;
    text-emphasis-color: #3F2860;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

main{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
    border-style: 2px solid;
    border-radius: 20px round;
}

section{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    background-color: #e8ecff;
}

.service {
    display: inline-block;
    width: 100%;
    background-color: #b7c1c3;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 20px round;
    box-sizing: border-box;
}

@media screen and (min-width: 600px) {
    figure{
        display: flex;
        margin: 0;
    }
    
    figcaption{
        width: 100%;
        float: right;
    }
    
    img{
        height: auto;
        flex-direction: row-reverse;
        float: none;
    }
}
