iframe {
    width: 40%;
    border: 5px solid #0b3414;
}
.left-aligned-iframe {
    float: left;
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("TTF");
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: "Atkinson Hyperlegible","Atkinson Hyperlegible", sans-serif;
}
/*the colours
dark green: #0b3414
light green: #b0eba5
brown: #4b3422
light blue: #46bff2*/
/* Set background color for the entire website */
body {
    background-color: #b0eba5; /* Light blue background color */
    color: #4b3422; /* Text color for better readability */
}

.impact_text {
}
img {
    max-width: 100%;
    height: auto;
}

h1{

}