* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

header {
	background-color: #5e7e67;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000; 
}

header > img {
	height: 80px; 
	width: 80px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
}

.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
}

.login {
    margin-left: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
}

.IMG {
    align-items: center;
}

iframe {
    width: 40%;
    border: 5px solid #0b3414;
}
.left-aligned-iframe {
    float: left;
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("TTF");
    font-weight: normal;
    font-style: normal;
}
h1 {
    border-bottom: 2px solid #0b3414; /* Adjust thickness and color as needed */
    padding-bottom: 10px; /* Optional: Adds space below the text */
}


html {
    font-family: "Atkinson Hyperlegible","Atkinson Hyperlegible", sans-serif;
}
/*the colours
dark green: #0b3414
light green: #b0eba5
brown: #4b3422
light blue: #46bff2*/
/* Set background color for the entire website */
body {
    background-color: #b0eba5; /* Light blue background color */
    color: #4b3422; /* Text color for better readability */
}

img {
    max-width: 100%;
    height: auto;
}

.imgs {
    max-width: 400px;
    max-height: 400px;
}

section {
    padding-bottom: 15px;
    margin: 10px 5px 10px 5px;
}

.topsec {
    padding-top: 90px;
}


body {
	background-color: #b0eba5;
}

a {
	text-decoration: none;
}

a:link {
	color: #b0eba5;
}

a:visited {
	color: #0b3414;
}

a:hover {
	color: white;
}


footer {
	background-color: #0b3414;
	font-size: 0.7em;
	text-align: center;
	color: #b0eba5;
	padding: 16px;
	margin-top: 32px;
}

footer a:link {
	color: #fff9e8;
}

footer a:hover {
	color: #e8fff9;
}